/* src/components/Footer.css */
footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
  }